
<div class="container-fluid">
    <header style="
                                      position: relative;
                                      width: 100%;
                                      height: 200px;
                                      text-align: center;
                                      color: #fff;
                                      background-image: url(/Assets/img/about-bg.jpg);
                                      -webkit-background-size: cover;
                                      -moz-background-size: cover;
                                      -o-background-size: cover;
                                      background-repeat: no-repeat;
                                      background-size: 100% auto;
                                  ">
        <div class="container">
            <div class="row">
                <div class="mx-auto"><div class="page-heading"></div></div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="mx-auto pl-1 ">
                <h2><a href="@Url.Action("About", "Home")">About Me</a></h2>
                <hr/>
                <p style="font-size: 18px">
                    Just me, myself and I, exploring the universe of unknownment. I have a
                    heart of love and a interest
                </p>
            </div>
        </div>
    </div>
</div>